/* ##### MIXINS #####*/
/*##### GENERALS #####*/
body {
  font-family: "Roboto";
  max-width: 1920px;
  min-width: 280px;
  margin: auto; }

/*##### POP-UP #####*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1; }

.emailbold {
  font-weight: bold; }
  .emailbold a {
    color: #828282; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popupcontent {
  margin: 150px auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 5px;
  width: 35%;
  position: relative;
  transition: all 0.5s ease-in-out; }
  .popupcontent h1 {
    margin-top: 0;
    margin-left: 0; }
  .popupcontent .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333; }
    .popupcontent .close:hover {
      color: #828282;
      transform: rotate(90deg); }
  .popupcontent .content {
    max-height: 30%;
    overflow: auto; }
    .popupcontent .content p {
      margin-bottom: 10px; }

.titlecontact {
  position: relative;
  padding-bottom: 8px;
  font-weight: lighter; }
  .titlecontact::after {
    content: "";
    background-color: #828282;
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0; }

form {
  display: flex;
  flex-direction: column; }

.type {
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px; }

input {
  width: 95%;
  border-style: none;
  outline: none;
  border: #828282 1px solid;
  border-radius: 5px;
  padding: 5px; }

textarea {
  width: 95%;
  resize: none;
  border-style: none;
  outline: none;
  border: #828282 1px solid;
  border-radius: 5px;
  padding: 5px; }

::placeholder {
  font-family: "Roboto"; }

.submit {
  margin: auto;
  outline: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-style: none;
  background: #e68500;
  background: linear-gradient(132deg, rgba(230, 133, 0, 0.8743872549) 0%, #8952fe 98%);
  height: 25px;
  width: 20%;
  border-radius: 12px;
  color: white;
  box-shadow: 10px 7px 26px -16px black;
  transition-duration: 150ms; }
  .submit:hover {
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75); }

/*##### HEADER #####*/
.logonavbar {
  position: absolute;
  margin-left: 10px;
  top: 8px; }

/* ##### MIXINS #####*/
/*##### NAVBAR #####*/
body {
  font-family: "Roboto";
  min-width: 280px; }

.topnav {
  overflow: hidden;
  background-color: #f0f0f0; }
  .topnav a {
    float: right;
    display: block;
    color: #828282;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 18px; }
    .topnav a:hover {
      background-color: #828282;
      color: #f0f0f0; }
  .topnav .icon {
    display: none; }

#info-cart {
  position: relative; }

#pastille {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex; }

@media screen and (max-width: 600px) {
  .topnav a {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; }

  .topnav.responsive {
    padding-top: 70px;
    transition: 500ms ease; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }

  #pastille {
    bottom: inherit;
    left: inherit;
    top: 27px;
    right: 27px; } }
/*##### INFO #####*/
.info {
  text-align: center;
  line-height: 25px;
  padding: 30px; }
  .info h1 {
    font-size: 30px; }

/*##### PRODUCTS #####*/
#cameras {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap; }

.bg_product {
  background-color: #f0f0f0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px; }

.recap {
  background-color: white;
  overflow: hidden;
  display: flex;
  width: 30%;
  height: 180px;
  border: 5px solid white;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  transition: 250ms ease; }
  .recap:hover {
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75); }

.shopping_cart {
  width: 40%; }
  .shopping_cart .fas {
    width: 100%;
    font-size: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: -10px;
    color: #828282; }
  .shopping_cart .checkout_cart {
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
    height: 38%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    background: #e68500;
    background: linear-gradient(132deg, #e68500 0%, #8952fe 98%);
    box-shadow: 0px 0px 15px -5px black; }
    .shopping_cart .checkout_cart .fas {
      display: none; }

.recap_cart {
  width: 60%;
  margin-left: 2%; }
  .recap_cart h2 {
    height: 20%;
    margin: 0;
    padding: 0; }

.camera {
  background-color: white;
  overflow: hidden;
  display: flex;
  width: 30%;
  height: 180px;
  border: 5px solid white;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  transition: 250ms ease; }
  .camera:hover {
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75); }
    .camera:hover .moreinfo {
      margin-bottom: 0px; }
    .camera:hover .camera_id {
      display: none; }
  .camera_price {
    position: absolute;
    top: 5px;
    right: 30px;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
  .camera_lenses {
    height: 20%; }
  .camera_description {
    height: 50%; }
  .camera_id {
    height: 10%; }
  .camera_name {
    height: 20%;
    margin: 0;
    padding: 0; }

.card_1 {
  width: 40%; }
  .card_1 .camera_image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.card_2 {
  width: 60%;
  margin-left: 2%;
  position: relative; }
  .card_2 p {
    margin: 0; }
  .card_2 .card_description {
    height: 70%; }
  .card_2 .card_id {
    height: 10%; }
  .card_2 .moreinfo {
    position: absolute;
    bottom: 0px;
    right: 2px;
    text-decoration: none;
    width: 100%;
    height: 38%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px;
    color: white;
    border-radius: 15px;
    background: #e68500;
    background: linear-gradient(132deg, #e68500 0%, #8952fe 98%);
    box-shadow: 0px 0px 15px -5px black;
    transition: 250ms; }

/*##### FOOTER #####*/
footer {
  background-color: #828282;
  color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 35px; }
  footer p {
    font-size: 20px;
    padding-bottom: 8px;
    position: relative; }
    footer p::after {
      content: "";
      background-color: #f0f0f0;
      width: 40px;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0; }
  footer li {
    list-style: none;
    line-height: 30px; }
  footer ul {
    padding: 0;
    margin: 0; }
  footer a {
    text-decoration: none;
    color: #f0f0f0; }
  footer .about {
    width: 50%; }
  footer .assistance {
    width: 50%; }

/*##### MEDIAS #####*/
@media (max-width: 1620px) {
  .camera_price {
    right: 15px; } }
@media (max-width: 1440px) {
  .camera {
    width: 45%; }

  .recap {
    width: 45%; } }
@media (max-width: 1024px) {
  .camera {
    width: 80%; }

  .recap {
    width: 80%; }

  .popupcontent {
    width: 60%; } }
@media (max-width: 550px) {
  .camera {
    width: 100%; }

  .recap {
    width: 100%; }

  .popupcontent {
    width: 85%; } }
@media (max-width: 450px) {
  .card_1 {
    width: 50%; }

  .card_2 {
    width: 50%; }
    .card_2 .camera_id {
      display: none; }
    .card_2 .camera_description {
      display: none; }
    .card_2 .camera_price {
      position: inherit;
      height: 10%;
      justify-content: inherit;
      right: 0px; }
    .card_2 .moreinfo {
      margin-bottom: 0px;
      height: 25%; }

  .recap {
    display: flex;
    flex-direction: row-reverse; }

  .recap_cart {
    width: 100%; }
    .recap_cart h2 {
      height: 20%;
      justify-content: center;
      align-items: center;
      margin-top: 10px; }

  #filled_cart {
    height: 80%; }

  .shopping_cart {
    width: 60px; }
    .shopping_cart .fas {
      display: none;
      color: white; }
    .shopping_cart .checkout_cart {
      position: absolute;
      margin-top: 10px;
      text-decoration: none;
      width: 45px;
      height: 45px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 15px;
      background: #e68500;
      background: linear-gradient(132deg, #e68500 0%, #8952fe 98%);
      box-shadow: 0px 0px 15px -5px black; }
      .shopping_cart .checkout_cart .fas {
        display: inline;
        font-size: 20px;
        margin-left: 0;
        margin-top: 0; }
      .shopping_cart .checkout_cart p {
        display: none; }

  footer .about {
    width: 80%; }
  footer .assistance {
    width: 80%; } }
@media (max-width: 300px) {
  .card_2 .camera_name {
    height: 30%; }
  .card_2 .moreinfo {
    height: 30%; } }

/*# sourceMappingURL=styles.css.map */
