/* ##### MIXINS #####*/
$dark-grey: #828282;
$light-grey: #f0f0f0;

/*##### FOOTER #####*/
footer {
    background-color: $dark-grey;
    color: $light-grey;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 35px;
    position: relative;
    p {
        font-size: 20px;
        padding-bottom: 8px;
        position: relative;
        &::after {
            content: "";
            background-color: $light-grey;
            width: 40px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    li {
        list-style: none;
        line-height: 30px;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: $light-grey;
    }
    .about {
        width: 50%;
    }
    .assistance {
        width: 50%;
    }
}

.copy{
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 18px;
    &::after{
        content: inherit;
    }
}

@media (max-width: 450px) {
    footer {
        .about {
            width: 80%;
        }
        .assistance {
            width: 80%;
        }
    }
}

@media (max-width: 375px) {
    footer {
        padding-left: 25px;
    }
}
