/* ##### MIXINS #####*/
$dark-grey: #828282;
$light-grey: #f0f0f0;

/*##### GENERALS #####*/
body {
    font-family: "Roboto";
    max-width: 1920px;
    min-width: 280px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}

/*##### @import #####*/
@import "./navbar.scss";
@import "./popup.scss";
@import "./footer.scss";

/*##### INFO #####*/
.info {
    text-align: center;
    line-height: 25px;
    padding: 30px;
    font-size: 30px;
}

/*##### PRODUCTS #####*/
#cameras {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

.bg_product {
    background-color: $light-grey;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.recap {
    background-color: white;
    overflow: hidden;
    display: flex;
    width: 30%;
    height: 180px;
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    transition: 250ms ease;
    &:hover {
        box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
    }
}
.shopping_cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .checkout_cart {
        text-decoration: none;
        width: 100%;
        height: 38%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 15px;
        background: rgb(230, 133, 0);
        background: linear-gradient(132deg, rgb(230, 133, 0) 0%, rgb(137, 82, 254) 98%);
        box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
        transition: 250ms ease;
        &:hover{
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        }
        .fas {
            display: none;
        }
    }
}

.camera {
    background-color: white;
    overflow: hidden;
    display: flex;
    width: 30%;
    height: 180px;
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    transition: 250ms ease;
    &:hover {
        box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);
        .moreinfo {
            margin-bottom: 0px;
        }
        .camera_id {
            display: none;
        }
    }
    &_price {
        position: absolute;
        top: 5px;
        right: 30px;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    &_lenses {
        height: 20%;
    }
    &_description {
        height: 50%;
    }
    &_id {
        height: 10%;
    }
    &_name {
        height: 20%;
        margin: 0;
        padding: 0;
    }
}

.card_1 {
    width: 40%;
    .camera_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card_2 {
    width: 60%;
    margin-left: 2%;
    position: relative;
    p {
        margin: 0;
    }
    .card_description {
        height: 70%;
    }
    .card_id {
        height: 10%;
    }
    .moreinfo {
        position: absolute;
        bottom: 0px;
        right: 2px;
        text-decoration: none;
        width: 100%;
        height: 38%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: -80px;
        color: white;
        border-radius: 15px;
        background: rgb(230, 133, 0);
        background: linear-gradient(132deg, rgb(230, 133, 0) 0%, rgb(137, 82, 254) 98%);
        box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
        transition: 250ms ease;
        &:hover{
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        }
    }
}

/*##### MEDIAS #####*/
@media (max-width: 1620px) {
    .camera_price {
        right: 15px;
    }
}

@media (max-width: 1440px) {
    .camera {
        width: 45%;
    }
    .recap {
        width: 45%;
    }
}

@media (max-width: 1024px) {
    .camera {
        width: 80%;
    }
    .recap {
        width: 80%;
    }
    .popupcontent {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .camera {
        width: 100%;
    }
    .recap {
        width: 100%;
    }
    .popupcontent {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .card_1 {
        width: 50%;
    }
    .card_2 {
        width: 50%;
        .camera_id {
            display: none;
        }
        .camera_description {
            display: none;
        }
        .camera_price {
            position: inherit;
            height: 10%;
            justify-content: inherit;
            right: 0px;
        }
        .moreinfo {
            margin-bottom: 0px;
            height: 25%;
        }
    }
    .recap{
        .shopping_cart{
            p{
                margin: 0;
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 300px) {
    .card_2 {
        .camera_name {
            height: 30%;
        }
        .moreinfo {
            height: 30%;
        }
    }
}
