/* ##### MIXINS #####*/
$dark-grey: #828282;
$light-grey: #f0f0f0;

/*##### GENERALS #####*/
body {
    font-family: "Roboto";
    max-width: 1920px;
    min-width: 280px;
    margin: auto;
}
html {
    scroll-behavior: smooth;
}

/*##### @import #####*/
@import "./navbar.scss";
@import "./popup.scss";
@import "./footer.scss";

/*##### PRODUCT #####*/
.bg-product {
    background-color: $light-grey;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    background-color: white;
    border: 5px solid white;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
    border-radius: 0px 15px 15px 0px;
    h2 {
        margin-bottom: 0;
    }
    span {
        font-weight: bold;
    }
    #camera_description {
        margin-left: 15px;
        margin-right: 15px;
    }
    #camera_lenses {
        width: 90%;
        height: 30px;
    }
    #form{
        width: 100%;
        align-items: center;
    }
    .add_cart {
        margin-top: 10px;
        border: none;
        outline: none;
        text-decoration: none;
        width: 65%;
        height: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 15px;
        background: rgb(230, 133, 0);
        background: linear-gradient(132deg, rgb(230, 133, 0) 0%, rgb(137, 82, 254) 98%);
        box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 250ms ease;
        &:hover{
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        }
    }
    .error{
        color: red;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .added{
        color: green;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

select {
    width: 90%;
    height: 30px;
}

#productQuantity{
    width: 40px;
}

#camera_image {
    width: 68%;
    object-fit: cover;
    margin-right: 2%;
    border-radius: 15px 0px 0px 15px;
}

/*##### MEDIAS #####*/
@media (max-width: 1440px) {
    .product {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .product {
        width: 80%;
    }
}


@media (max-width: 900px) {
    .product {
        flex-direction: column;
    }

    #camera_image {
        width: 80%;
        margin: auto;
        border-radius: 15px 15px 0 0;
    }

    .card_1 {
        width: 80%;
        margin: auto;
        border-radius: 0 0 15px 15px;
        border: none;
    }
}

@media (max-width: 600px){
    .bg-product {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 450px) {
    #camera_image {
        width: 95%;
    }

    .card_1 {
        width: 95%;
    }

    .bg_product {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}

@media (max-width: 375px) {
    .product {
        width: 100%;
    }
    .bg-product{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}